<%= form_for @smart_playlist do |f| %>

  <fieldset>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, placeholder: "Ratings above 5 stars", size: '80' %>
  </fieldset>

  <fieldset>
    <%= f.label :name, "Mongoid query" %>
    <%= f.text_area :mongoid_query, { size: "80" } %>
    <div>
      <p>Example queries:</p>
      <p>this.rating == 100</p>
      <p>this.rating >= 50</p>
      <p>this.rating > 50 && this.track_number == '2'</p>
    </div>
  </fieldset>


  <fieldset>
    <%= f.label "Shuffle on load" %>
    <%= f.check_box :shuffle_on_load %>
  </fieldset>
  <%= f.submit "Save" %>

<% end %>
