<h2 id="album_edit">Edit album <%= @album.title %></h2>

<fieldset>
  <p>
    Drag and drop art to replace this album's album art. It will be replaced instantly.
    It will write the image to all of the songs' metadata, and be written to "cover.jpg" in the album's
    folder. It will delete existing cover art.
  </p>
  <%= form_tag "/albums/#{@album.id}/change_album_art", { class: "dropzone", id: "album-art-upload" } do %>
  <% end %>
</fieldset>

<fieldset>
<%= form_for @album do |f| %>
  <div>
    <%= f.label :custom_tags, "Custom tags" %>
    <%= f.text_field :custom_tags, { placeholder: "write any custom searchable tags", size: 100 } %>
  </div>

  <%= f.submit "Save changes & update art cache" %>
<% end %>
</fieldset>

<fieldset>
  <%= form_tag(delete_all_songs_from_database_album_path, method: :post) do |f| %>
    <%= submit_tag "Delete all of this album's songs from database, including ratings. Do not delete files." %>
  <% end %>
</fieldset>

<fieldset>
  <%= form_tag(delete_all_songs_from_database_with_files_album_path, method: :post) do |f| %>
    <%= submit_tag "Delete all of this album's #{@album.songs.count} songs from database, including ratings. ALSO DELETES FILES. Deletes album as well.", confirm: "Delete these files permanently?" %>
  <% end %>
</fieldset>

<br>
<br>
<br>
<br>
<br>

<p>
  Inspection: <%= @album.inspect %>
</p>

<div>
  <label>Full dirname of first song</label>
  <% if @album.songs.count > 0 %>
    <textarea rows="10" cols="150"><%= File.dirname(@album.songs.first.full_path) %></textarea>
  <% end %>
</div>
